.content-browser {
	display: flex;
	flex-direction: column;
	position: absolute;
	max-width: 23%;
	min-width: 322px;
	max-height: 90%;
	top: 5%;
	left: 0;
	z-index: $z-Index-highest;
	margin-left: 30px;
	opacity: 0;
	transform: translateX(-1000px);
	pointer-events: none;

	&.show {
		opacity: 1;
		transition: all 0.5s ease-in-out;
		transform: translateX(0);
	}

	&.isLeva {
		position: relative;
		width: auto;
		height: auto;
		max-height: 70vh;
		max-width: none;
	}

	.top-bar {
		width: 100%;
		border-radius: 8px;
		position: relative;
		display: block;
		color: $color-white;
		background: rgba($color-bg-secondary, 0.6);
		margin-bottom: 5px;
		border: 1px solid $color-bg-secondary;

		.top-bar-title {
			text-align: center;
			margin: 5px;
			text-transform: uppercase;
		}
	}

	.content-container {
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: row;
		min-height: 0;
		pointer-events: none;

		.side-bar {
			border-radius: 8px;
			position: relative;
			display: flex;
			flex-direction: column;
			margin-top: 76px;
			pointer-events: none;

			.tab {
				position: relative;
				display: block;
				border-radius: 14px 0 0 14px;
				cursor: pointer;
				padding: 10px 4px;
				background: $color-bg-secondary-dark;
				border-color: rgba($color-bg-secondary, 0.2);
				border-style: solid;
				border-width: 1px 0 1px 1px;
				pointer-events: auto;

				.tab-name {
					color: $color-white;
					text-align: center;
					margin-bottom: 8px;
				}

				.tab-icon {
					filter: invert(1);
					width: 40px;
					margin: auto;
					display: block;
					padding: 3px;
				}

				&.active {
					background: $color-bg-primary;
				}
			}
		}

		.content-container-main {
			display: flex;
			flex-direction: column;
			background: $color-bg-primary;
			padding: 15px 20px;
			border-radius: 16px;
			border-color: rgba($color-bg-secondary, 0.2);
			border-style: solid;
			border-width: 1px 1px 1px 0;
			pointer-events: auto;
		}

		.content {
			height: 100%;
			width: 100%;
			display: none;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			overflow: auto;

			.item {
				margin: 6px 4% 0 0;
				width: calc(50% - 4%);

				@include breakpoint($bp-maxlarge) {
					width: calc(33% - 4%);
				}
			}

			&.active {
				display: flex;
			}

			&.--models {
				.item {
					img {
						filter: none;
						pointer-events: none;
					}
				}
			}
		}

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: grab;
			// padding: 5px;
			color: $color-white;

			h4 {
				pointer-events: none;
				text-align: center;
				flex-grow: 1;
				margin: 0;
				margin-top: 4px;
				// margin: 4px;
				// display: flex;
				// justify-content: center;
				// align-items: center;
			}

			#thumbnail-container {
				display: inline-block;
				position: relative;
				width: 100%;
				background: $color-bg-secondary;
				border: 2px solid $color-bg-primary;
				border-radius: 8px;
			}

			#dummy {
				margin-top: 100%;
				/* 1:1 aspect ratio */
			}

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				max-width: 100%;
				margin: auto;
				filter: invert(1);
				pointer-events: none;
			}
		}
	}
}
