.content-browser {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 30%;
	height: 100%;
	background: rgba($color-bg-primary, 0.4);
	top: 0;
	left: 0;
	z-index: $z-Index-highest;
	padding: 20px;
	border-radius: 15px;
	opacity: 0;
	transform: translateX(-1000px);

	&.show {
		opacity: 1;
		transition: all 0.5s ease-in-out;
		transform: translateX(0);
	}

	.top-bar {
		width: 100%;
		// background: rgba($color-bg-primary, 0.7);
		border-radius: 15px 15px 0 0;
		position: relative;
		display: flex;
		flex-direction: row;

		.tab {
			position: relative;
			display: block;
			height: 100%;
			width: 25%;
			background: rgba($color-bg-primary, 0.3);
			border-radius: 15px 15px 0 0;
			cursor: pointer;

			.tab-name {
				color: $color-white;
				text-align: center;
				margin-bottom: 5px;
			}

			&.active {
				background: rgba($color-bg-primary, 0.7);
			}
		}
	}

	.content-container {
		height: 100%;
		width: 100%;
		padding: 10px;
		background: rgba($color-bg-primary, 0.7);
		border-radius: 0 0 15px 15px;
		display: block;

		.content {
			height: 100%;
			width: 100%;
			display: none;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;

				&.active {
				display: flex;
			}
		}

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: min-content;
			cursor: grab;
			flex-basis: 23%;
			width: 23%;
			margin: 5px;
			padding: 5px;
			background: rgba($color-bg-secondary, 0.6);
			border-radius: 15px;
			color: $color-white;

			img {
				max-height: 120px;
				filter: invert(1);
				user-select: none;
				pointer-events: none;
			}
		}
	}
}
