.page {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: $z-Index-pages;
	overflow: auto;

	.max-width-container {
		padding: 85px 15px 40px 15px;
		position: absolute;
		top: 0;
		display: flex;
		align-content: center;
		height: 100%;
		width: 100%;
		overflow-x: hidden;

		@include breakpoint($bp-large) {
			padding: 40px;
		}
	}

	.container {
		display: inline-flex;
		justify-content: space-evenly;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		width: 100%;
		margin: auto;
		border: none;
		text-align: center;
		color: $color-white;
		max-width: $app-max-width;
	}

	.page-container {
		position: relative;
		height: 100%;
		min-height: 90vh;
		width: 100%;
		max-width: 100%;
		padding: 15px;
		box-shadow: 5px 5px 15px $color-bg-pink-border-dark, -5px -5px 15px $color-bg-pink-border-light;
		cursor: auto;
		transition: transform 250ms ease-in-out, border 250ms ease-in-out, box-shadow 250ms ease-in-out, border-radius 250ms ease-in-out;
		// overflow: hidden;
		border-radius: 19px;
		border: 1px solid rgba($color-white, 0.308);
		display: inline-flex;
		justify-content: space-evenly;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;

		@include breakpoint($bp-large) {
			max-width: 80%;
			padding: 4vh;
			padding: 30px;
		}

		p {
			font-size: 20px;
		}

		.display-item {
			width: 100%;
		}
	}
}
