$transparent: transparent;
$color-white: #ffffff;
$color-black: #000000;
$color-off-white: #bcbcbc;
$color-red: red;

$color-bg-primary: #5E5C6C;
$color-bg-secondary: #094074;

$color-bg-atlas-blue-solid: #004c93;
$color-bg-atlas-blue: #0060B7C7;
