@import '1-settings/fonts';
@import '1-settings/colors';
@import '1-settings/breakpoints';
@import '2-tools/breakpoint-sass';
@import '2-tools/variables';
@import '3-base/misc';
@import '4-components/content-browser';

.stats {
	left: auto !important;
	right: 0 !important;
	top: auto !important;
	bottom: 0 !important;
}

.gl-stats {
	left: auto !important;
	right: 270px !important;
	top: auto !important;
	bottom: 48px !important;
}
